# Editor configuration, see http://editorconfig.org
# Visual studio supported code style syntax https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
# Visual studio supported naming convention syntax https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-naming-conventions
# Undocumented https://kent-boogaart.com/blog/editorconfig-reference-for-c-developers
# Undocumented CS options https://github.com/dotnet/roslyn/blob/master/src/Workspaces/CSharp/Portable/Formatting/CSharpFormattingOptions.cs
# Undocumented .NET options https://github.com/dotnet/roslyn/blob/master/src/Workspaces/Core/Portable/CodeStyle/CodeStyleOptions.cs
# Resharper syntax https://www.jetbrains.com/help/resharper/EditorConfig_Index.html

root = true

[*]
# Don't use tabs for indentation.
indent_style = space
# (Please don't specify an indent_size here; that has too many unintended consequences.)

#end_of_line = crlf

curly_bracket_next_line = true
indent_brace_style = Allman

[*.md]
trim_trailing_whitespace = false

# Code files
[*.{cs,csx,vb,vbx}]
trim_trailing_whitespace = true
indent_size = 4
#tab_width is not really necessary
max_line_length = 150
insert_final_newline = true
#charset = utf-8-bom

# Xml project files
[*.{csproj,vbproj,vcxproj,vcxproj.filters,proj,projitems,shproj}]
indent_size = 2

# Xml config files
[*.{props,targets,ruleset,config,nuspec,resx,vsixmanifest,vsct}]
indent_size = 2

# JSON and YML files
[*.{json,yml}]
indent_size = 2

# Dotnet code style settings:
[*.{cs,vb}]
# Sort using and Import directives with System.* appearing first
dotnet_sort_system_directives_first = true

# Avoid "this." and "Me." if not necessary
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_event = false:suggestion

# Use language keywords instead of framework type names for type references
dotnet_style_predefined_type_for_locals_parameters_members = true:suggestion
dotnet_style_predefined_type_for_member_access = true:suggestion

dotnet_style_require_accessibility_modifiers = for_non_interface_members:warning

# Suggest more modern language features when available
dotnet_style_object_initializer = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_explicit_tuple_names = true:suggestion
dotnet_style_prefer_inferred_tuple_names = true:suggestion
dotnet_style_prefer_inferred_anonymous_type_member_names = true:suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:suggest

dotnet_style_coalesce_expression = false:none
dotnet_style_null_propagation = false:none
dotnet_style_prefer_auto_properties = true:suggestion

# CSharp code style settings:
[*.cs]
csharp_preferred_modifier_order = public,private,protected,internal,static,extern,new,virtual,abstract,sealed,override,readonly,unsafe,volatile,async:warning
csharp_prefer_braces = true:none

# Prefer "var" only where it is already mentioned on the right-hand side of a declaration expression
csharp_style_var_for_built_in_types = false:none
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_elsewhere = false:none

# Prefer method-like constructs to have a block body
# NOTE: the when_on_single_line value does not appear to work.
csharp_style_expression_bodied_methods = false:none
csharp_style_expression_bodied_constructors = false:none
csharp_style_expression_bodied_operators = false:none

# Prefer property-like constructs to have an expression-body
# NOTE: the when_on_single_line value does not appear to work.
csharp_style_expression_bodied_properties = true:none
csharp_style_expression_bodied_indexers = true:none
csharp_style_expression_bodied_accessors = true:none

# Suggest more modern language features when available
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion
csharp_style_inlined_variable_declaration = true:suggestion
csharp_prefer_simple_default_expression = true:suggestion
csharp_style_deconstructed_variable_declaration = true:suggestion
csharp_style_pattern_local_over_anonymous_function = true:suggestion
csharp_style_throw_expression = true:suggestion
csharp_style_conditional_delegate_call = true:suggestion

# Newline settings
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_between_query_expression_clauses = true

# Indent
csharp_indent_case_contents = false
csharp_indent_switch_labels = true
csharp_indent_labels = one_less_than_current
# undocumented
csharp_indent_block_contents = true
csharp_indent_braces = false
csharp_indent_case_contents_when_block = true

# Spaces
csharp_space_after_cast = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_parentheses = false
# undocumented
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_between_method_declaration_name_and_open_parenthesis = false
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_after_comma = true
csharp_space_before_comma = false
csharp_space_after_dot = false
csharp_space_before_dot = false
csharp_space_after_semicolon_in_for_statement = true
csharp_space_before_semicolon_in_for_statement = false
# Extra space before equals sign DOES MATTER https://github.com/dotnet/roslyn/issues/20355
csharp_space_around_binary_operators  = before_and_after
csharp_space_around_declaration_statements = ignore
csharp_space_before_open_square_brackets = false
csharp_space_between_empty_square_brackets = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_square_brackets = false

# Wrapping
csharp_preserve_single_line_statements = false
csharp_preserve_single_line_blocks = true

# RS1019: Diagnostic Id is already used by analyzer
dotnet_diagnostic.RS1019.severity = none

# RS1024: Compare symbols correctly
dotnet_diagnostic.RS1024.severity = none

# RS2008: Enable analyzer release tracking
dotnet_diagnostic.RS2008.severity = none

# CS8600: Converting null literal or possible null value to non-nullable type.
dotnet_diagnostic.CS8600.severity = none

# CS8604: Possible null reference argument.
dotnet_diagnostic.CS8604.severity = none

# CS8620: Argument cannot be used for parameter due to differences in the nullability of reference types.
dotnet_diagnostic.CS8620.severity = none

# CS8602: Dereference of a possibly null reference.
dotnet_diagnostic.CS8602.severity = none

# CS8603: Possible null reference return.
dotnet_diagnostic.CS8603.severity = none

# CS8609: Nullability of reference types in return type doesn't match overridden member.
dotnet_diagnostic.CS8609.severity = none

# CS8625: Cannot convert null literal to non-nullable reference type.
dotnet_diagnostic.CS8625.severity = none

# Naming
# 
# ORDERING DOES MATTER!!!
# Naming conventions should be ordered from most-specific to least-specific in the .editorconfig file.
# The first rule encountered that can be applied is the only rule that is applied.
#
[*.{cs,vb}]
dotnet_naming_symbols.interface_types.applicable_kinds            = interface
dotnet_naming_symbols.interface_types.applicable_accessibilities  = *

dotnet_naming_symbols.all_types.applicable_kinds                = namespace,class,struct,enum,property,method,field,event,delegate,type_parameter,local_function
dotnet_naming_symbols.all_types.applicable_accessibilities      = *

dotnet_naming_symbols.parameter_types.applicable_kinds            = parameter,local

dotnet_naming_style.pascal_style.capitalization           = pascal_case
dotnet_naming_style.camel_style.capitalization            = camel_case

# Interface must start with I (interface_must_start_with_I)
dotnet_naming_rule.interface_must_start_with_I.severity  = warning
dotnet_naming_rule.interface_must_start_with_I.symbols   = interface_types
dotnet_naming_rule.interface_must_start_with_I.style     = I_style

dotnet_naming_style.I_style.required_prefix              = I
dotnet_naming_style.I_style.capitalization               = pascal_case

# Variables must be camel style (variables_must_be_camel_style)
dotnet_naming_rule.variables_must_be_camel_style.severity  = warning
dotnet_naming_rule.variables_must_be_camel_style.symbols   = parameter_types
dotnet_naming_rule.variables_must_be_camel_style.style     = camel_style

# Members must be pascal style (members_must_be_pascal_style)
dotnet_naming_rule.members_must_be_pascal_style.severity  = warning
dotnet_naming_rule.members_must_be_pascal_style.symbols   = all_types
dotnet_naming_rule.members_must_be_pascal_style.style     = pascal_style

# Resharper

# Blank lines
# General
csharp_blank_lines_around_region = 1
csharp_blank_lines_inside_region = 1
csharp_blank_lines_before_single_line_comment = 0
csharp_keep_blank_lines_in_declarations = 1
# Blank Lines in Declarations
csharp_remove_blank_lines_near_braces_in_declarations =  = true
csharp_blank_lines_after_start_comment = 1
csharp_blank_lines_between_using_groups = 0
csharp_blank_lines_after_using_list = 1
csharp_blank_lines_around_namespace = 1
csharp_blank_lines_inside_namespace = 0
csharp_blank_lines_around_type = 1
csharp_blank_lines_inside_type = 0
csharp_blank_lines_around_field = 0
csharp_blank_lines_around_single_line_field = 0
csharp_blank_lines_around_property = 1
csharp_blank_lines_around_single_line_property = 0
csharp_blank_lines_around_auto_property = 0
csharp_blank_lines_around_single_line_auto_property = 0
csharp_blank_lines_around_invocable = 1
csharp_blank_lines_around_single_line_invocable = 0
# Blank Lines in Code
csharp_keep_blank_lines_in_code = 1
csharp_remove_blank_lines_near_braces_in_code = true
csharp_blank_lines_around_local_method = 1
csharp_blank_lines_around_single_line_local_method = 1
csharp_blank_lines_before_control_transfer_statements = 0
csharp_blank_lines_after_control_transfer_statements = 1
csharp_blank_lines_before_block_statements = 0
csharp_blank_lines_after_block_statements = 1
csharp_blank_lines_before_multiline_statements = 0
csharp_blank_lines_after_multiline_statements = 1

# Tabs, Indents, Alignment
# Align Multiline Constructs
csharp_alignment_tab_fill_style = use_spaces
csharp_align_multiline_parameter = true
csharp_align_multiline_extends_list = true
csharp_align_linq_query = true
csharp_align_multiline_binary_expressions_chain = true
csharp_outdent_binary_ops = false
csharp_align_multiline_calls_chain = true
csharp_outdent_dots = false
csharp_align_multiline_array_and_object_initializer = false
csharp_indent_anonymous_method_block = true
csharp_align_first_arg_by_paren = false
csharp_align_multiline_argument = true
csharp_align_multiline_expression = true
csharp_align_multiline_for_stmt = true
csharp_align_multiple_declaration = true
csharp_align_multline_type_parameter_list = true
csharp_align_multline_type_parameter_constrains = true
csharp_outdent_commas = false
# Align Similar Code in Columns
csharp_int_align_fields = true
csharp_int_align_properties = true
csharp_int_align_methods = true
csharp_int_align_parameters = true
csharp_int_align_variables = true
csharp_int_align_assignments = true
csharp_int_align_nested_ternary = true
csharp_int_align_invocations = true
csharp_int_align_binary_expressions = true
csharp_int_align_comments = true
csharp_int_align_switch_sections = true

# Line Breaks
# Arrangement of Method Signatures
csharp_wrap_parameters_style = chop_if_long
csharp_wrap_before_declaration_lpar = false
csharp_wrap_after_declaration_lpar = false
csharp_place_constructor_initializer_on_same_line = true
# Arrangement of Type Parameters, Constraints and Base Types
csharp_place_type_constraints_on_same_line = true
csharp_wrap_before_first_type_parameter_constraint = false
csharp_wrap_multiple_type_parameter_constraints_style = chop_if_long
csharp_wrap_before_type_parameter_langle = false
csharp_wrap_before_extends_colon = false
csharp_wrap_extends_list_style = chop_if_long

# Braces Layout
csharp_empty_block_style = together_same_line

# Spaces
# Around Braces
csharp_space_within_single_line_array_initializer_braces = true
