<div class="index-header" id="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8 text-center">
        <h2><b>Security Guard</b> is a set of roslyn analyzers that aim to help security audit on .<b>NET applications</b></h2>
        <div class="buttons">
          <a class="btn btn-default btn-lg btn-transparent btn-download"
             href="{{download_link}}" role="button">
             <i class="fa fa-download" aria-hidden="true"></i> 
             Download v{{latest_version}}</a><br><br>
          <span class="github-btn">
            <iframe src="https://ghbtns.com/github-btn.html?user=dotnet-security-guard&amp;repo=roslyn-security-guard&amp;type=star&amp;count=true&amp;size=large"
                  frameborder="0" scrolling="0" width="130px" height="30px"></iframe> 
            <iframe src="https://ghbtns.com/github-btn.html?user=dotnet-security-guard&amp;repo=roslyn-security-guard&amp;type=fork&amp;count=true&amp;size=large"
                  frameborder="0" scrolling="0" width="130px" height="30px"></iframe>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>


<section id="features" class="feature-list">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Features</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <h4><i class="fa fa-crosshairs"></i> {{nb_rules}} rules</h4>
                It can detect <a href="rules.htm">{{nb_rules}} different vulnerability patterns</a>.
            </div>
            <div class="col-md-4 col-sm-6">
                <h4><i class="fa fa-plug"></i> Integration</h4>
                The Roslyn analyzers can be run from <a href="#">Visual Studio</a>.
            </div>
            <div class="col-md-4 col-sm-6">
                <h4><i class="fa fa-cogs"></i> Continuous integration</h4>
                It can be integrated to any continuous integration that supports <a target="_blank" href="https://msdn.microsoft.com/en-us/library/dd393574.aspx">MSBuild</a>.
            </div>
            <div class="col-md-4 col-sm-6">
                <h4><i class="fa fa-github"></i> Open for contributions</h4>
                The project is open-source and is <a target="_blank" href="https://github.com/dotnet-security-guard/roslyn-security-guard">open for contributions</a>.
            </div>
        </div>
    </div>
</section>


<section id="feature-visual-studio">
  <div class="highlight-gray">
    <div class="container highlight highlight-left">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <h2>Visual Studio integration</h2>
          <p>
          Scan your application for potential vulnerabilities directly from your IDE.
          </p>
        </div>

        <div class="col-sm-offset-1 col-sm-6 text-right">
          <img src="images/visual-studio.png" width="500px">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 

<section id="sonarqube">
  <div class="container highlight highlight-right">
    <div class="row">
      <div class="col-sm-6 code-samples">
          <img src="images/visual-studio.png" height="100%">
      </div>
      <div class="col-sm-6">
        <h2>SonarQube integration</h2>
        <p>
        Continously scan your code base to monitor for new vulnerabilities.
        </p>
      </div>
    </div>
  </div>
</section>
-->